@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: black;
}
.main {
  background-image: url(Resources/img/bg.jpg);
  height: 100vh;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
}
.box {
  height: 100vh;
  width: 100%;
  opacity: 0.79;
  background-color: black;
  position: absolute;
  top: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60vw;
  margin: auto;
  height: 70px;
}
nav img {
  width: 148px;
  position: relative;
  z-index: 1;
  height: 70px;
}
nav button {
  position: relative;
  z-index: 1;
}
.hero {
  font-family: "Martel Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  height: calc(100% - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  /* gap: 23px; */
  padding: 0 30px;
}
.hero > :nth-child(1) {
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.hero > :nth-child(2) {
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-bottom: 16px;
}
.hero > :nth-child(3) {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 25px;
}
.hero > :nth-child(4) {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
}
.line {
  height: 7px;
  background-color: rgb(46, 44, 44);
  position: relative;
  z-index: 20;
}
.btn {
  padding: 3px 8px;
  font-weight: 500;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}
.btn-red-1 {
  background-color: rgb(229, 9, 20);
  color: white;
}
.btn-red-2 {
  background-color: rgb(229, 9, 20);
  color: white;
  padding: 11px 50px;
  font-size: 20px;
  border-radius: 4px;
}
.main input {
  padding: 16px 160px 16px 14px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(246, 238, 238, 0.5);
  color: white;
}
.sign-in {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 9px;
  width: 40vw;
}
.first{
  display: flex;
  max-width: 70vw;
  justify-content: center;
  margin: auto;
  color: white;
  align-items: center;
}
.secImg{
  position: relative;
}
.secImg img{
  width: 555px;
  position: relative;
  z-index: 10;
}
.secImg video{
  position: absolute;
  top: 103px;
  right: 32px;
  width: 448px;

}
.first > div{
  display: flex;
  flex-direction: column;
  padding: 34px 0;
}
.first > div :first-child{
  font-size: 48px;
  font-weight: bolder;
}
.first > div :nth-child(2){
  font-size: 24px;
}
/* .fourth > div{
  display: flex;
  flex-direction: row;
  align-items: center;
} */
.faq h2{
  text-align: center;
  font-size: 48px;
  margin-bottom: 34px;
}
.faq{
  background-color: black;
  color: white;
  padding: 34px;
}
.faqbox{
  display: flex;
  justify-content: space-between;
  background-color: #2d2d2d;
  padding: 24px;
  max-width: 60vw;
  margin: 7px auto;
  cursor: pointer;
  font-size: 24px;
  transition: all 0.3s ease-out;
}
.faqbox svg{
  filter: invert(1);
}
.faqbox:hover{
  background-color: #414141;
}
footer{
  color: white;
  max-width: 60vw;
  margin: auto;
  padding: 14px;
}
.ques{
  padding: 34px 0;
}
footer a{
  color: rgba(255, 255, 255, 0.7);
    text-decoration-color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
}
.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}
@media screen and (max-width: 1300px){
  .footer{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    color: white;
    gap: 25px;
  }
  .footer-item{
  display: flex;
  flex-direction: column;
  gap: 23px;
  }
  .hero> :nth-child(1) {
    font-size: 32px;
  }
  .hero> :nth-child(2) {
    font-size: 18px;
  }
  .hero> :nth-child(3) {
    font-size: 18px;
  }
  nav{
    max-width: 90vw;
  }
  .sign-in{
    flex-direction: column;
  }
  .btn-red-2{
    padding: 11px 9px;
  }
  .faq h2{
    font-size: 32px;
  }
}
@media screen and (max-width: 1300px) {
  .first{
    flex-wrap: wrap;
  }
  .secImg img{
    width: 305px;
  }
  .secImg video{
    top: 83px;
    right: 4px;
    width: 266px;  
  }
}